tt, code, pre {
    font-family: "Inconsolata", "DejaVu Sans Mono", "Courier";
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Eras Demi ITC", sans-serif;
    font-weight: normal
}

body {
    background-color: white;
    margin-left: 2em;
    margin-right: 1em;
    font-family: "Georgia", serif;
    font-size: medium;
}

h1 {
    font-size: xx-large;
    margin-bottom: 1.2em;
}

h2 {
    font-size: x-large;
    margin-bottom: 1em;
}

h3 {
    font-size: large;
    margin-bottom: 1em;
}

h4 {
    font-size: medium;
    margin-bottom: 1em;
}

h5 {
    font-size: medium;
    margin-bottom: 1em;
}

h6 { 
    font-size: medium;
    margin-bottom: 1em;
}

.definition {
    margin-bottom: 1.5em;
}

.definition-kind {
    float: right;
}

table {
    font-size: small;
}

div.sidebar {
    float: left;
    margin-right: 0;
    width: 230px;
    top: auto;
    font-size: small;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    margin: 0;
}

div.body {
    padding: 1em;
}
